@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }
body {
  margin: 0;
  background: radial-gradient(circle at top, #211335 0%, #07070b 40%, #020203 100%);
  color: white;
}
* { box-sizing: border-box; }
